.svn/
bower_components/
aangeleverd/
.ftppass
debug/
node_modules/
backups/
config/
design/
Extract/
gitrepos/
node_modules/
*/license.txt
**/phpinfo.php
**/readme.html
*/test.php
*/wp-activate.php
*/wp-blog-header.php
**/wp-comments-post.php
**/wp-config-sample.php
**/wp-cron.php
**/wp-links-opml.php
**/wp-load.php
**/wp-login.php
**/wp-mail.php
**/wp-settings.php
**/wp-signup.php
**/wp-trackback.php
**/xmlrpc.php
**/wp-admin/
**/wp-content/aiowps_backups/
**/wp-content/languages/
**/wp-content/aiowps_backups/
**/wp-content/plugins/
**/wp-content/upgrade/
**/wp-content/uploads/
*/wp-content/debug.log
**/wp-content/index.php
debug.log
**/wp-includes/
**/wp-snapshots/
**/twentyfifteen/
**/twentyseventeen/
**/twentysixteen/
**/themes/index.php
package-lock.json
build/index.php
**/aanvragen/
npm-debug.log
wp-config.php
/db/